.wp-block-columns.ssm-box-columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  color: #ECEFF1;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  @media (min-width: 970px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  a {
    color: #ECEFF1;
  }

  .wp-block-column {
    margin: 0;
    align-items: center;
    background-color: #0277BD;
    background-repeat: no-repeat;
    border-radius: 4px;
    max-width: 100%;
    padding: 1.5rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
