.fade-in {
  animation: fadeIn 400ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body .theme--light.v-application {
  background-color: #ECEFF1;
  color: #424242;

  .grey.darken-3 {
    color: #ECEFF1;

    a {
      color: #ECEFF1;
    }
  }

  .wp-block-embed-youtube {
    width: 100%;
    max-width: 640px;
    margin: 2rem 0;

    iframe {
      max-width: 100%;
    }
  }

  iframe {
    max-width: 100%;
  }
}

.page {
  min-height: 100vh;
}
