@import "vars";

.text-no-underline {
  text-decoration: none !important;
}

p {
  max-width: 1161px;
}

h2 {
  max-width: 1161px;
  margin-bottom:1rem;
}

h3 {
  max-width: 1161px;
  margin-bottom:.5rem;
}
