$color-dune: #37332F;
$color-armadillo: #4D4740;
$color-soya-bean: #665847;
$color-arrowtown: #97836A;
$color-citrine-white: #FCFBF8;
$color-citrine-white-darken: #bab9b6;
$color-goldenrod: #FEDA6A;
$color-tangerine : #E29900;

$font-size: 1rem;
