.wp-block {
  &-separator {
    border: solid .5px #fff;
    margin-bottom: 1rem;
  }

  &-image {
    margin: 2rem 0;
    @media (min-width: 640px) {
      margin: 4rem 0;
    }
  }

  &-columns {
  }

  &-column {
  }

  &-block-quote {
  }

  &-group {
    &__inner-container {
    }
  }

  &-button {
    margin-bottom: 1rem;
  }
}
